[user]
	name = John Figueiredo
	email = john@johnfigueiredo.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	go = checkout
	type = cat-file
	dump = cat-file
[core]
	editor = subl -w

[credential]
	helper = osxkeychain
